.container_title {
  display: flex;
  margin-top: 20px;
  justify-content: center;

}

.container_form {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: white;
  padding: 10px;
  margin-left: 10%;
}

.text_input {
  width: 100%;
  height: 20px
}

.email_input {
  width: 207%;
  height: 20px
}


.nome_form {
  width: 100%;
  margin-right: 15px;
  column-gap: 10px;
}

.phone_form {
  margin-left: 30px;
  margin-bottom: 15px;
  width: 100%;
}

.email_form {
  grid-column: 1 / 2;
  width: 100%;

}

.container_buttons {
  padding: 10px;
  margin-left: 10%;
}

p {
  margin: 0;
}

//media query para desktop com o minimo de 769px

@media screen and (min-width: 769px) {
  .container_form {
    display: grid;
    background-color: white;
    float: none;
    width: 100%;
  }

  p {
    margin: 0;
  }
}
