<app-navbar></app-navbar>
<!--título do formulario de cadastrar novos contatos-->
<section>
  <div class="container_title">
<strong><h1>Cadastrar Novo Contato</h1></strong>
  </div>
</section>

<!--formulario de cadastro de contato-->
<section>

  <div class="container_form">

    <div class="nome_form">
      <p>Nome: </p>
      <input type="text" id="" />
    </div>

    <div class="phone_form">
      <p>Phone: </p>
      <input type="text" id="" />
    </div>

    <div class="email_form">
      <p>Email: </p>
      <input type="text" id="" />
    </div>

  </div>
</section>

<!--botao de salvar contatos-->
<section>
  <div class="container_buttons">
    <button mat-raised-button color="primary">Salvar Contato</button>
  </div>
</section>
