.gridContainer {

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20vh 70vh 10vh;
  grid-gap: 20px;
  margin: 50px;

}

.emailInput{

  display: flex;
  flex-direction: column;

  label {

    font-size: 1.2em;

  }

  input{

    width: 40vw;
    height: 3.8vh;
  }


}

.passwordInput{

  display: flex;
  flex-direction: column;

  label {

    font-size: 1.2em;

  }

  input{

    width: 40vw;
    height: 3.8vh;
  }


}


.nomeInput{

  display: flex;
  flex-direction: column;

  label {

    font-size: 1.2em;

  }

  input{

    width: 40vw;
    height: 3.8vh;
  }

  button{

    margin-top: 30px;

  }


}

.checkboxInput {


  input{

    width: 3vw;
    height: 3vh;

  }

  label{
    font-size: 1.2em;
    font-size: 300;
  }


}
