.container_title {
  display: flex;
  margin-top: 20px;
  justify-content: center;

}

.container_form {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  background-color: white;
  padding: 5px;
  justify-content: center;
  justify-items: center;
  margin-left: 5px;
}

.text_input {
  width: 95%;
  height: 20px
}

.email_input {
  width: 90%;
  height: 20px
}


.nome_form {
  width: 95%;
  margin-right: 5px;
}

.phone_form {
  margin-left: 0px;
  width: 95%;
}

.email_form {
  margin-left: 40px;
  grid-column: 1 / 2;
  width: 100%

}

.container_buttons {
  margin-left: 30px;

}

.checkbox_input {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 45px;
  width: 100%;
}

p {
  margin: 0;
}

