<app-navbar></app-navbar>

<section>
  <form [formGroup] = "formUsuarios">
  <div class="gridContainer">
    <div class="emailInput">
      <label for="Email">Email: </label>
      <input formControlName="email" type="email" name="email">
    </div>

    <div class="passwordInput">
      <label for="password">Password:</label>
      <input formControlName="password" type="password" name="password">
    </div>

    <div class="nomeInput">
      <label for="nome">Nome:</label>
      <input formControlName="name" type="text" name="nome">
      <div>
        <button type="button" mat-raised-button color="primary" (click)="save()">Salvar Usuário</button>
      </div>
    </div>

    <div class="checkboxInput">
      <input formControlName="admin" type="checkbox" name="administrador">
      <label>Administrador?</label>
    </div>
  </div>
  </form>
</section>
