<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Not-Found</title>
</head>
<body>
  <main class="bsod container">
  <h1 class="neg title"><span class="bg">Error - 404</span></h1>
  <div class="image"><img src="../../assets/img/notfound-removebg-preview.png" alt="not found image"></div>
  <p>A página que você está procurando não foi encontrada.</p>
  <p>* Volte para a página anterior.<br/>
  * Caso haja alguma dúvida, por favor entre em contato através do nosso e-mail.</p>
  <nav class="nav">
    <a routerLink ="/login" class="link">Home</a>&nbsp;|&nbsp;<a href="mailto:someone@microsoft.com" class="link" email>Email</a>
  </nav>
</main>
</body>
</html>
